// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
}
// Спойлер
.spollers__item {
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: rem(39) rem(60) rem(39) 0;
	position: relative;
	&._spoller-active {
		&.spollers__title {
			padding-bottom: rem(30);
			border-bottom: none;
		}
	}

	.spollers__circle-btn {
		position: absolute;
		width: 50px;
		height: 50px;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		background-color: #cacaca;
		border-radius: 50%;
		@media (max-width: $mobileSmall) {
			width: 30px;
			height: 30px;
		}
	}

	._spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			z-index: 2;
			right: 10px;
			top: 50%;
			background-color: #000;
			height: 1px;
			width: 30px;
			transition: transform 0.5s ease 0s;
			@media (max-width: $mobileSmall) {
				width: 18px;
				right: 6px;
			}
		}
		&::before {
		}
		&::after {
			transform: translate(0, -50%) rotate(-90deg);
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	padding-bottom: rem(40);
}
